*.o
*.obj
x86
Debug
Release
*.user
*~
*.bak
.vs
*.a
*.d
APRSTransmit/aprstransmitd
RemoteControl/remotecontrol
RemoteControl/remotecontrold
StarNetServer/starnetserver
StarNetServer/starnetserverd
TextTransmit/texttransmitd
TimeServer/timeserver
TimeServer/timeserverd
TimerControl/timercontrol
TimerControl/timercontrold
VoiceTransmit/voicetransmitd
ircDDBGateway/ircddbgateway
ircDDBGateway/ircddbgatewayd
GitVersion.h

